/* body {
    position: relative;
} */

.navbar:after {
    width: 0%;
}

.cont_2 {
    background: url('./backgounds/bg2.png');
    background-repeat: no-repeat;
    background-repeat: round;
}

#outer-shop {
    width: 98vw;
    height: 100vh;
}

.product-img:hover {
    /* transform: rotate(20deg); */
    animation-name: ani1;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
}
.product-img2 {
    margin: 1%;
}

@keyframes ani1 {
    /* 0%   {
        transform: rotate(0deg);
    } */
    25%  {
        transform: rotate(-10deg);
    }
    /* 50%  {
        transform: rotate(0deg);
    } */
    75% {
        transform: rotate(10deg);
    }
    /* 100%  {
        transform: rotate(0deg);
    } */
}

.prod-brand {
    display: inline-block;
}
.prod-name {
    display: inline-block;
}
.modal-content{
    padding: 1%;
    width: max-content;
}

/* discount coupons (done) */ 
/* adds/ recommended pieces (done) */
/* fashion icon & label house facts/ fashion trends */

.main-cont {
    padding-top: 1%;
}

#id222 {
    padding-top: 2%;
}

#cust_avatar{
    height: 270px;
    position: absolute;
    /* left: 0; */
    z-index: 10;
}

.prods-extended {
    position: fixed;
    top: 300px;
    left: 0;
    overflow: scroll;
    background-color: rgb(86, 125, 157);
    width: inherit;
    z-index: 20;
}
#id333 {
    overflow: scroll;
    max-height: 200px;
    width: max-content;
}

.dyn-btn{
    position: absolute;
    top: 45vh;
    right: 30vw;
    display: none;
    z-index: 0;
}

.dyn-btn2{
    position: absolute;
    top: 44vh;
    left: 30vw;
    display: none;
    z-index: 0;
}

.modal-body {
    max-width: 400px;
}

/* Confetti for coupon */
.confetti {
    left: 0;
    pointer-events: none ;
    position: fixed;
    top: 0;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    height: 100%;
    width: 100%;
    z-index: 10000;
}

.confetti-item {
    position: absolute;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    z-index: 10000;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(-100%)
    }
    95%{
        animation-timing-function: ease-in-out;
        transform: translateY(calc(100vh - 55%))
    }
    100% {
        transform: translateY(calc(150vh - 65%))
    }
}

.chat-iframe {
    position: absolute;
    bottom: -100px;
    right: 20px;
    height: 300px;
    width: 400px;
    z-index: 200;
}